extends layout

block content 
    link(rel='stylesheet', href='../stylesheets/comments.css')
    div.major
        div.comments-container
            div.comments-container__heading-div 
                h2.comments-container__heading-div-h2 Responses
            form.comments-container__new-comment(method='post')
                textarea.comments-container__new-comment-text-box(name="comment", cols="30", rows="10", placeholder='What are your thoughts?')
                div.comments-container__new-comment-button-div
                    button(type="reset") Cancel 
                    button.comments-container__new-comment-button-respond(type="submit") Respond
            div.comments-container__comment
                if comments 
                each comment in comments 
                    div
                        div.comments-container__comment-nav-user User Name 
                        div.comments-container__comment-text-box= comment  
                     

