.footer
  .test-text Where your ideas
    .trending-article
      img(src='/images/trending.svg' width="42" height="42" alt="")
      .trending-article_content
        .trending-author
          img(src='/images/trending.svg' width="20" height="20" alt="")
          h4 Billy Bob
          a(href=`/`)= 'Luke Skywalker'