extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  nav
    div(class='nav')
      div(class="inner_nav")
        div(class="inner_nav-left")
          h1 Infinium
        div(class="inner_nav-right")
          div(class="nav_content-login")
            a(class="nav_content-button" href="/log-in") Log In
          div(class="nav_content-sign-up")
            a(class="nav_content-button" href="/sign-up") Sign Up
  main
    div(class="homepage_title-container")
      div(class="homepage_title-header")
        h1 Fantesies, Fandomes, and Fans.
      div(class="hopepage_title_subheader")
        h3 Find your community or create your own
