doctype html
html
  head
      block head
        title="Infinium"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap")
        script(src="/javascripts/layout.js" type="module" defer)
      block head_trailer
  body
    header
      .header
        .title
          if (contextControls === 'story-edit' || contextControls === 'story-edit-with-publish' || contextControls === 'not-home')
            a.logo-anchor(href="/")
              img(src="/images/infinity.jpg", alt="Infinity" class="infinity_image")
              .title_name Infinium
          else
            img(src="/images/infinity.jpg", alt="Infinity" class="infinity_image")
            .title_name Infinium
          if contextMessage
            .title_greeting= contextMessage
          else
            .title_greeting Live Long and Prosper
          if contextControls
            if (contextControls === 'story-edit' || contextControls === 'story-edit-with-publish')
              button.story-save.rainbow-button(type='submit' form='story-edit-form' value="Save") Save
            if (contextControls === 'story-edit-with-publish')
              button.story-publish.rainbow-button(type='button' value="Publish") Publish
        .icons
          if locals.authenticated
            include user-loggedin-dropdown-include
          else
            span(class="loggedin")
              a(class="login" href='/users/login')
                button.rainbow-button Login
              a(class="register" href='/users/register')
                button.rainbow-button Register
    block content
