extends layout

block content
  h2= title
  .stories-container
  if (storySet)
    if (published)
      h3 Published
      ul.published-list
        each story in published
          li.story
            a(href=`/users/${story.userId}/stories/${story.hexId}`)= story.title
    if (drafts)
      h3 Drafts
      ul.draft-list
        each story in drafts
          li.story
            a(href=`/users/${story.userId}/stories/${story.hexId}`)= story.title
