.major {
    display: flex; 
    justify-content: center;
}

.comments-container {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    background-color: white;
    width: 414px;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.comments-container__heading-div {
    padding: 24px; 
}

.comments-container__heading-div-h2 {
    line-height: 24px;
    font-weight: 500;
    color: rgba(41, 41, 41, 1); 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}

.comments-container__new-comment {
    padding: 0px 24px; 
    margin-bottom: 20px; 
    display: flex; 
    flex-direction: column;
}

.comments-container__new-comment-text-box {
    min-height: 100px;    
    border: none; 
    resize: none; 
    outline: none;
}

.comments-container__new-comment-button-div {
    max-height: 100px;
    padding: 0px 14px;
    display: flex;
    justify-content: flex-end;
}

.comments-container__new-comment-button-respond {
    background: rgb(26, 137, 23);
    color: rgb(255, 255, 255);
    border-color: rgb(26, 137, 23);
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
}

.comments-container__comments {
    padding-top: 25px; 
    padding-bottom: 16px; 
}

.comments-container__comment {
    padding: 0px; 
}

.comments-container__comment-nav {
    display: flex; 
    justify-content: space-between;
}

.comments-container__comment-nav-user {
    padding-left: 14px; 
    font-weight: 550; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
    margin-top: 15px; 
}

.comments-container__comment-nav-menu {
    width: 25px; 
    height: 25px; 
    vertical-align: middle;
    padding-right: 12px; 
    position: relative; 
}

.comments-container__comment-nav-menu-image {
    max-width: 100%; 
    max-height: 100%; 
}

.comments-container__comment-nav-menu-dropdown--hidden {
    display: none;  
}

.comments-container__comment-nav-menu-dropdown {
    position: absolute; 
    top: 15px; 
    right: 20px; 
    background-color: white;
}

.edit {
    border: none; 
    width: 120px; 
    text-align: left;
    padding-bottom: 5px; 
    color: grey; 
}

.edit:hover {
    cursor: grab; 
    color: black; 
}

.delete {
    border: none;
    color: grey; 
}

.delete:hover {
    cursor: grab;
    color: black;  
}

.comments-container__comment-text-box {
    min-height: 100px;    
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 4px;;
    font-weight: 200; 
    padding-left: 14px; 
    border-radius: 3px;
} 

/* Delete box styling */
.delete-container--hidden {
    display: none; 
}

.delete-container {
    width: 414px; 
    height: 50%; 
    z-index: 800; 
    overflow-y: auto;
    overflow-x: hidden;
}

.delete-container__inner {
    margin-bottom: auto; 
    margin-top: auto; 
    padding: 50px; 
}

.delete-container__inner-textbox {
    padding-right: 5px; 
    margin-bottom: 40px; 
    text-align: center; 
    margin-top: 10px; 
    width: 100%;
    display: flex; 
    justify-content: center; 
}

.delete-container__inner-heading {
    line-height: 28px; 
    font-size: 22px; 
    font-weight: 500;
    color: rgba(41, 41, 41, 1);
    text-align: center;
}


.delete-container__inner-button-container {
    margin-bottom: 20px; 
    display: flex; 
    justify-content: flex-end;
}

.delete-container__inner-button-confirm {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 16px 9px;
    fill: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-color: rgb(201, 74, 74);
    background: rgb(201, 74, 74);
}

.delete-container__inner-button-cancel {
    color: rgba(41, 41, 41, 1);
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    border: none; 
    margin-right: 5px; 
}