@import "global.css";

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #555555;
}

.homepage-holder{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.homepage-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 480px 380px 880px;
    padding: 20px;
}

.noUser_overlay{
    flex-direction: column;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.noUser_welcome{
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    margin-top: 140px;
}
.noUser_welcome > h1{
    font-size: 44px;
}

.noUser_text{
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-top: 280px;
    padding-top: -10px;
    color: black;
}

.abduction{
    width: 100%;
    height: 100%;
}

/* top section css*/
/* top story  */
.homepage-top-story{
    width: 280px;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    grid-column: 1 / 2;
    padding-right: 25px;
}

.top-story_content {
    width: 300px;
    /* background-color: white; */
}

.top-story_content > img {
    width: 100%;
    margin-bottom: 10px;
}

.top-story_author > img {
    border-radius: 5px;
}

.top-story_author > h4 {
    font-size: 11px;
    padding: 0 0 0 6px;
}

.top-story_content h2 {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 3px 0;
    width: 90%;
}

.top-story_content h2 > a {
    text-decoration: none;
    font-size: 22px;
}

.top-story_content p {
    font-size: 15px;
    margin: 0;
    padding-top: 2px;
    font-family: 'Noto Sans KR', sans-serif;
}

.top-story_readtime {
    padding-top: 20px;
    font-size: 13px;
    margin: 0;
    color: grey;
}

.top-story_readtime > a {
    text-decoration: none;
    color: grey;
}

.top-story_author {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15px;
    margin: 0;
    padding: 12px 0;
}
/* top stories  */
.homepage-top-stories {
    /* background-color: skyblue; */
    box-sizing: border-box;
    margin-bottom: 25px;
    border-right: 1px solid lightgrey;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    grid-column: 2 / 3;
}

.stories-container {
    height: 100%;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.top-stories_article {
    display: inline-flex;
    height: 100px;
    width: 280px;
    margin-bottom: 20px;
}

.article-content_author {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.article-content_author img {
    border-radius: 5px;
}

.article-content_author h4 {
    padding: 0 0 6px 6px;
}

.article-content {
    height: 100%;
    width: 70%;
}

.article-content h4 {
    margin: 0;
    padding-top: 5px;
    font-size: 11px;
    color: grey;
    font-family: 'Noto Sans KR', sans-serif;
}

.article-content_story {
    margin: 0;
    font-size: 20px;
}

.article-content_story > a {
    text-decoration: none;
    font-size: 15px;
}

.article-img {
    width: 30%;
}

.article-img img{
    display: flex;
    justify-content: center;
    margin-right: 0;
    width: 100%;
    height: 80%;
}

/* followers  */
.homepage-followers {
    /* background-color: slateblue; */
    box-sizing: border-box;
    margin-bottom: 25px;
    grid-column: 3 / 4;
}

.following-container {
    height: 100%;
    width: 300px;
    padding: 0 0 0 35px;
    margin-right: 0;
}

.following-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
}

.following {
    padding: 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.following a {
    font-size: 11px;
    text-decoration: none;
    padding: 7px 0 0 0;
}

.following > img {
    border-radius: 50px;
}


/* trending section css*/
/* trending */

.homepage-trending {
    grid-column: 1 / 4;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin-bottom: 30px; */
    margin: 30px 0;
}

.homepage-trending > h3 {
    height: 10%;
    width: 300px;
    padding-top: 7px;
    /* padding-right: 1000px; */
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.homepage-trending_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trending-article {
    min-height: 100px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0 12px;
}

.trending-author {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.trending-author img {
    border-radius: 5px;
    margin-right: 7px;
}

.trending-author h4 {
    font-family: 'Noto Sans KR', sans-serif;
    color: gray;
    font-size: 13px;
    align-content: center;
    margin-bottom: 4px;
}

.trending-article h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    height: 15px;
}

.trending-article-trending-image {
    justify-self: flex-end;
    height: 20px;
    width: 20px;
}

.trending-article_content > div > a {
    margin: 8px 0;
    text-decoration: none;
    font-size: 15px;
}

.trending-article > h1 {
    margin: 0;
    padding: 5px 7px 7px 0;
    height: 50%;
    width: 15%;
}

.trending-article_content {
    width: 85%;
}

.trending-article_content p {
    margin-top: 4px;
    font-size: 12px;
    color: gray;
}

/* stream section css*/
/* stream */
.homepage-stream {
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
}

.homepage-stream_container {
    display: flex;
    flex-direction: column;
}

.stream-article {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 600px;
    height: 150px;
    padding-bottom: 40px;
}

.stream-content {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.stream-content_author {
    display: flex;
    align-items: center;
    margin: 0;
    height: 20px;
    width: 50%;
    margin: 0 0 0 0;
}

.stream-content_author > h4 {
    margin: 0;
    font-size: 14px;
    color: grey;
}

.stream-content_author > img {
    border-radius: 5px;
    margin-right: 7px;
}

.stream-content_headers {
    display: flexbox;
    align-content: center;
    width: 50%;
    margin: 0;
}

.stream-content_headers {
    width: 100%;
}

.stream-content_headers a {
    text-decoration: none;
}

.stream-content_headers h2 {
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 18px;
}

.stream-article p {
    padding: 35px 0 0 0;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 12px;
    color: gray;
}

.stream-article_img {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 5px;
}

.stream-article_img img {
    height: 60%;
    width: 60%;
}

/* bookmark section css */
.homepage-bookmarks {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 300px;
}

.bookmarks-container {
    width: 300px;
    height: 120px;
    background-color: rgb(243, 243, 243);
    margin-top: 6px;
    position: sticky;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmarks-container_content {
    width: 80%;
    height: 80%;
    font-family: 'Noto Sans KR', sans-serif;
}

.bookmarks-container_content h4 {
    margin: 10px 0 9px 0;
    font-size: 14px;
}

.bookmarks-container_content p {
    margin: 0;
    font-size: 11px;
}
