body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

h1 {
    margin-bottom: 10px;
    color: royalblue;
}

.sign-up_container {
    background-color: white;
    height: 550px;
    width: 700px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 auto;
}

.form-holder{
    height: 550px;
    width: 420px;
    display: inline-flexbox;
}

.sign-up_form {
    display: inline-flexbox;
    width: 300px;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}

.sign-up_input {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0 auto ;
    width: 250px;
    border: 1px solid #999999;
    outline: none;
    font-size: 13px;
    margin-right: 10px;
}

.log-in_button {
    text-align: center;
}

button {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border: 1px solid #999999;
    outline: none;
    font-size: 13px;
    background-color: #4c98d2;
}






/* welcome side of form */
.sign-up_welcome{
    background-color: #1a8cd8;
    height: 550px;
    width: 280px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;
}
