body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
}
.story-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 100px 0;
}

.story-edit {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  color: #555;
}

.story-edit-title {
  margin-bottom: 10px;
  font-size: 1.8em;
  border: 1px solid transparent;
  outline: none;
  padding: 3px 5px;
  font-family: inherit;
  color: inherit;
}

.story-edit-draft {
  flex: 1;
  resize: none;
  overflow-x: auto;
  padding: 5px;
  border: 1px solid transparent;
  font-family: inherit;
  color: inherit;
  font-size: 1.3em;
}

.story-edit-title::placeholder,
.story-edit-draft::placeholder {
  color: #ccc;
}

.story-edit-title:hover::placeholder,
.story-edit-draft:hover::placeholder {
  color: #aaa;
}

.story-edit-title:hover,
.story-edit-title:focus,
.story-edit-draft:hover,
.story-edit-draft:focus  {
  border-left-color: #bbb;
  background-color: rgba(0,0,0,0.03);
  outline: none;
}

.story-edit-title:focus,
.story-edit-draft:focus {
  background-color: rgba(0,0,0,0.02);
}



/* Story publisher overlay */

.story-publisher {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.8);
  z-index: 2;
}
.story-publisher.hide {
  display: none;
}

.story-publish {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.image-wrapper {
  float: left;
  width: 300px;
  height: 150px;
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.story-publish-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.story-publisher-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  min-width: 20px;
  min-height: 20px;
  color: black;
  opacity: 0.7;
}

.story-publisher-close:hover {
  opacity: 1;
}
